@page
@{
    ViewData["Title"] = "Mailbox";
}
@section Scripts
{
    <script src="../js/mailbox.js"></script>
}

<div class="row justify-content-center">
    <div class="col-xl-11">
        <div class="row">
            <div class="col-6"><h2>Mailbox</h2></div>
            <div class="col-6 text-end"><a href="/App/New" class="btn btn-primary">New Message</a></div>
        </div>
        <div class="mail-list mt-3">
            Loading...
        </div>
    </div>
</div>