@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lectus nulla, scelerisque id vestibulum eu, bibendum ac lacus. Sed volutpat, arcu vel aliquam aliquet, diam libero efficitur lacus, ac finibus nisi ante at risus. Etiam feugiat pellentesque urna a dictum. Donec venenatis, ex nec bibendum aliquam, ante risus convallis enim, id facilisis justo ligula ac risus. Praesent ut suscipit turpis. Integer faucibus venenatis scelerisque. Sed a elementum urna, ut ullamcorper dolor.</p>
</div>

